- name: Set automation path
  set_fact:
    automation_path: "{{ AUTOMATION_PATH | default(playbook_dir) }}"

- set_fact:
    component: "cluster-api"

- name: Get {{ component }} status
  include_tasks: "{{ automation_path }}/tasks/get_mce_component_status.yml"

- name: print {{ component }} status
  debug:
    msg: "CAPI is enabled."
  when: component_enabled.stdout | bool

- name: print {{ component }} status
  debug:
    msg: "CAPI is NOT enabled."
  when: not component_enabled.stdout | bool

- set_fact:
    component: "cluster-api-provider-aws"

- name: Get {{ component }} status
  include_tasks: "{{ automation_path }}/tasks/get_mce_component_status.yml"

- name: print {{ component }} status
  debug:
    msg: "CAPA is enabled."
  when: component_enabled.stdout | bool

- name: print {{ component }} status
  debug:
    msg: "CAPA is NOT enabled."
  when: not component_enabled.stdout | bool
