{% if (deployment_mode | default('hub')) != 'standalone' %}
apiVersion: cluster.open-cluster-management.io/v1
kind: ManagedCluster
metadata:
  name: {{ cluster_name }}
  namespace: {{ rosa_hcp_namespace }}
  labels:
    automation.acm.redhat.com/test-case: "ACM-21174-ControlPlane"
    automation.acm.redhat.com/network-automation: "true"
    automation.acm.redhat.com/role-automation: "true"
spec:
  hubAcceptsClient: true
---
{% endif %}
apiVersion: cluster.x-k8s.io/v1beta2
kind: Cluster
metadata:
  name: {{ cluster_name }}
  namespace: {{ rosa_hcp_namespace }}
  labels:
    automation.acm.redhat.com/test-case: "ACM-21174-ControlPlane"
    automation.acm.redhat.com/network-automation: "true"
    automation.acm.redhat.com/role-automation: "true"
spec:
  clusterNetwork:
    pods:
      cidrBlocks: ["{{ cluster_network.pod_cidr | default('10.128.0.0/14') }}"]
  infrastructureRef:
    apiGroup: infrastructure.cluster.x-k8s.io
    kind: ROSACluster
    name: {{ cluster_name }}
  controlPlaneRef:
    apiGroup: controlplane.cluster.x-k8s.io
    kind: ROSAControlPlane
    name: {{ cluster_name }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
kind: ROSACluster
metadata:
  name: {{ cluster_name }}
  namespace: {{ rosa_hcp_namespace }}
  labels:
    automation.acm.redhat.com/test-case: "ACM-21174-ControlPlane"
    automation.acm.redhat.com/network-automation: "true"
    automation.acm.redhat.com/role-automation: "true"
spec: {}
---
# ROSAControlPlane references separately created ROSANetwork and ROSARoleConfig
# No inline resource definitions - prevents immutable field update errors
apiVersion: controlplane.cluster.x-k8s.io/v1beta2
kind: ROSAControlPlane
metadata:
  name: {{ cluster_name }}
  namespace: {{ rosa_hcp_namespace }}
  {% if cluster_description is defined and cluster_description -%}
  annotations:
    cluster.x-k8s.io/description: |
{{ cluster_description | indent(6, first=True) }}
  {% endif -%}
  labels:
    automation.acm.redhat.com/test-case: "ACM-21174-ControlPlane"
    automation.acm.redhat.com/network-automation: "true"
    automation.acm.redhat.com/role-automation: "true"
spec:
  # Network automation reference
  rosaNetworkRef:
    name: {{ cluster_name }}-network

  # Role automation reference
  rosaRoleConfigRef:
    name: {{ cluster_name }}-roles

  rosaClusterName: {{ cluster_name }}
  domainPrefix: {{ domain_prefix | default(rosa_role_prefix) | default(cluster_name) }}
  version: "{{ rcp_version | default(openshift_version) | default('4.22.0') }}"
{% if fips is defined and fips | bool %}
  fips: "Enabled"
{% endif %}
  region: {{ aws_region }}
{% if channel_group is defined and channel_group %}
  channelGroup: {{ channel_group }}
{% endif %}

{% if private is defined and private | bool %}
  endpointAccess: Private
{% endif %}

  defaultMachinePoolSpec:
    instanceType: {{ machine_pool.instance_type | default('m5.xlarge') }}
    autoscaling:
{% if default_autoscaling is defined and default_autoscaling | bool %}
      minReplicas: {{ mp_min_replicas | default(2) }}
      maxReplicas: {{ mp_max_replicas | default(4) }}
{% else %}
      minReplicas: {{ machine_pool.min_replicas | default(2) }}
      maxReplicas: {{ machine_pool.max_replicas | default(2) }}
{% endif %}

  additionalTags:
    env: {{ environment_tag | default('test') }}
    purpose: {{ purpose_tag | default('rosa-hcp-automation-testing') }}
    automated: "true"
    network-automation: "true"
    role-automation: "true"
{% if additional_tags is defined and additional_tags %}
{% for key, value in additional_tags.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}

  network:
    machineCIDR: {{ cluster_network.machine_cidr | default('10.0.0.0/16') }}
{% if no_cni is defined and no_cni | bool %}
    networkType: Other
{% endif %}
    podCIDR: {{ cluster_network.pod_cidr | default('10.128.0.0/14') }}
    serviceCIDR: {{ cluster_network.service_cidr | default('172.30.0.0/16') }}

{% if external_oidc is defined and external_oidc | bool %}
  enableExternalAuthProviders: true
{% if oidc_issuer_url is defined and (oidc_issuer_url | length > 0) %}
  externalAuthProviders:
    - name: {{ oidc_provider_name | default('capa-e2e-oidc') }}
      issuer:
        issuerURL: {{ oidc_issuer_url }}
        audiences:
{% for aud in oidc_audiences | default([oidc_client_id | default('capa-e2e-client')]) %}
          - {{ aud }}
{% endfor %}
      claimMappings:
        username:
          claim: {{ oidc_username_claim | default('email') }}
          prefixPolicy: {{ oidc_username_prefix_policy | default('""') }}
{% if oidc_groups_claim is defined and (oidc_groups_claim | length > 0) %}
        groups:
          claim: {{ oidc_groups_claim }}
{% if oidc_groups_prefix is defined and (oidc_groups_prefix | length > 0) %}
          prefix: {{ oidc_groups_prefix }}
{% endif %}
{% endif %}
{% if oidc_client_id is defined and (oidc_client_id | length > 0) %}
      oidcClients:
        - componentName: console
          componentNamespace: openshift-console
          clientID: {{ oidc_client_id }}
{% if oidc_client_secret_name is defined and (oidc_client_secret_name | length > 0) %}
          clientSecret:
            name: {{ oidc_client_secret_name }}
{% endif %}
{% endif %}
{% endif %}
{% endif %}

{% if etcd_encryption_kms_arn is defined and etcd_encryption_kms_arn %}
  etcdEncryptionKMSARN: {{ etcd_encryption_kms_arn }}
{% endif %}

{% if user_agent is defined and user_agent %}
  userAgent: {{ user_agent }}
{% endif %}

{% if http_proxy is defined and http_proxy | bool %}
  proxy:
    httpProxy: {{ http_proxy_url | default('') }}
    httpsProxy: {{ https_proxy_url | default('') }}
    noProxy: {{ no_proxy | default('') }}
{% endif %}

{% if image_registry_config is defined and image_registry_config | bool %}
  clusterRegistryConfig:
    allowedRegistriesForImport:
      - domainName: "{{ registry_domain | default('quay.io') }}"
        insecure: false
    registrySources:
      allowedRegistries:
        - "{{ allowed_registry | default('quay.io') }}"
{% endif %}

{% if cluster_autoscaler_expander is defined and cluster_autoscaler_expander | bool %}
  autoscaler:
    expanders:
      - LeastWaste
{% endif %}

{% if log_forward_enabled is defined and log_forward_enabled | bool %}
{% if (log_forward_cloudwatch_role_arn is defined and log_forward_cloudwatch_role_arn) or (log_forward_cloudwatch_log_group is defined and log_forward_cloudwatch_log_group) %}
  cloudWatchlogForwarder:
{% if log_forward_applications is defined and log_forward_applications %}
    applications:
{% for app in log_forward_applications %}
      - {{ app }}
{% endfor %}
{% endif %}
{% if log_forward_cloudwatch_role_arn is defined and log_forward_cloudwatch_role_arn %}
    cloudWatchLogRoleArn: {{ log_forward_cloudwatch_role_arn | trim }}
{% endif %}
{% if log_forward_cloudwatch_log_group is defined and log_forward_cloudwatch_log_group %}
    cloudWatchLogGroupName: {{ log_forward_cloudwatch_log_group | trim }}
{% endif %}
{% endif %}
{% if (log_forward_s3_bucket is defined and log_forward_s3_bucket) or (log_forward_s3_prefix is defined and log_forward_s3_prefix) %}
  s3LogForwarder:
{% if log_forward_applications is defined and log_forward_applications %}
    applications:
{% for app in log_forward_applications %}
      - {{ app }}
{% endfor %}
{% endif %}
{% if log_forward_s3_bucket is defined and log_forward_s3_bucket %}
    s3ConfigBucketName: {{ log_forward_s3_bucket | trim }}
{% endif %}
{% if log_forward_s3_prefix is defined and log_forward_s3_prefix %}
    s3ConfigBucketPrefix: {{ log_forward_s3_prefix | trim }}
{% endif %}
{% endif %}
{% endif %}

  # References to automation resources created separately
  # No inline ROSANetwork or ROSARoleConfig definitions
---
apiVersion: cluster.x-k8s.io/v1beta2
kind: MachinePool
metadata:
  name: {{ cluster_name }}
  namespace: {{ rosa_hcp_namespace }}
  labels:
    automation.acm.redhat.com/test-case: "ACM-21174-ControlPlane"
    automation.acm.redhat.com/network-automation: "true"
    automation.acm.redhat.com/role-automation: "true"
spec:
  clusterName: {{ cluster_name }}
  replicas: {{ machine_pool.replicas | default(2) }}
  template:
    spec:
      clusterName: {{ cluster_name }}
      bootstrap:
        dataSecretName: ""
      infrastructureRef:
        apiGroup: infrastructure.cluster.x-k8s.io
        kind: ROSAMachinePool
        name: {{ cluster_name }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
kind: ROSAMachinePool
metadata:
  name: {{ cluster_name }}
  namespace: {{ rosa_hcp_namespace }}
  labels:
    automation.acm.redhat.com/test-case: "ACM-21174-ControlPlane"
    automation.acm.redhat.com/network-automation: "true"
    automation.acm.redhat.com/role-automation: "true"
spec:
  nodePoolName: {{ (rosa_role_prefix | default(domain_prefix) | default('test'))[:4] | regex_replace('-$', '') }}-np
  instanceType: {{ machine_pool.instance_type | default('m5.xlarge') }}
  version: {{ openshift_version }}
{% if root_volume_size is defined and root_volume_size %}
  volumeSize: {{ root_volume_size }}
{% endif %}
{% if parallel_node_upgrade is defined and parallel_node_upgrade | int > 0 %}
  updateConfig:
    rollingUpdate:
      maxSurge: {{ max_surge | default(1) }}
      maxUnavailable: {{ max_unavailable | default(0) }}
{% endif %}
{% if additional_security_groups is defined and additional_security_groups %}
  additionalSecurityGroups:
{% for sg in additional_security_groups %}
    - {{ sg }}
{% endfor %}
{% endif %}
