---
- name: Configure MCE Environment for CAPI/CAPA
  hosts: localhost
  any_errors_fatal: true
  vars_files:
    - ../vars/vars.yml
    - ../vars/user_vars.yml
  tasks:
    - set_fact:
        ocp_user: "{{ lookup('env', 'OCP_HUB_CLUSTER_USER') | default(OCP_HUB_CLUSTER_USER, true) }}"
        ocp_password: "{{ lookup('env', 'OCP_HUB_CLUSTER_PASSWORD') | default(OCP_HUB_CLUSTER_PASSWORD, true) }}"
        api_url: "{{ lookup('env', 'OCP_HUB_API_URL') | default(OCP_HUB_API_URL, true) }}"
        mce_namespace: "{{ lookup('env', 'MCE_NAMESPACE') | default(MCE_NAMESPACE, true) }}"

    - name: Prepare ansible runner host
      include_tasks: ../tasks/prepare_ansible_runner.yml
      when: not skip_ansible_runner | bool

    - name: Login to OpenShift Hub Cluster
      include_tasks: ../tasks/login_ocp.yml

    - name: Configure MCE CAPI/CAPA Environment
      include_tasks: ../tasks/configure-capa-environment.yml
